<!DOCTYPE html>
<html>

<head>

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="/vuetify/dist/vuetify.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Index Recipe</title>
</head>

<body>
  <div id="app">

    <v-card color="grey lighten-4" flat style="margin-bottom:30px">
     <v-toolbar color="brown darken-3" dark>
      <v-toolbar-title>
       <span style="color: #ffffff">
        <strong>Serviche</strong>
       </span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <a href="/" style="color:#ffffff">
       <v-btn icon>
        <i class="material-icons">home</i>
       </v-btn>
      </a>
     </v-toolbar>
    </v-card>

    <v-app id="background">
      <v-content>
        <v-container id="recipeBackground">
          <!-- set the step number to 1 -->
          <v-stepper light v-model="currentStep">
            <!-- show steps in stepper header -->
            <v-stepper-header>
              <v-stepper-step step="1" :complete="currentStep > 1">Pick a Category</v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step step="2" :complete="currentStep > 2">Name Your Recipe</v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step step="3" :complete="currentStep > 3">List Your Ingredients</v-stepper-step>
              <v-divider></v-divider>
              <v-stepper-step step="4">List Your Directions</v-stepper-step>
            </v-stepper-header>
            <v-divider></v-divider>
            <v-stepper-content step="1">
              <v-card>
                <v-toolbar class = "currentToolbar">
                  <v-toolbar-title>Category</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                  <v-select v-model="currentCategory" label="Select a category" :items="categories" item-text="name" item-value="name">
                  </v-select>
                </v-card-text>
              </v-card>
              <br />
              <v-btn color="primary" @click.native="currentStep=currentStep+1">{{stepNextText}}</v-btn>
            </v-stepper-content>
            <v-stepper-content step=2>
              <v-card>
                <v-toolbar class = "currentToolbar">
                  <v-toolbar-title>Recipe Name</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                  <v-container fluid>
                    <v-layout>
                      <v-flex xs12>
                        <v-layout>
                            <v-flex xs10>
                        <v-text-field  clearable="clearable" v-model="recipeName" label="Recipe Name"></v-text-field>
                          </v-flex>
                        <v-flex xs2>
                          <v-btn style="margin:30px" @click="AddRecipe(recipeName)" success @click.native="currentStep=currentStep+1" >Add</v-btn>
                        </v-flex>
                        </v-layout>
                      </v-flex>
                  </v-layout>
                  <v-layout>
                    <v-flex xs-12>
                      <v-card>
                        <v-toolbar color="" dark>
                          <v-toolbar-title>recipe name</v-toolbar-title>
                        </v-toolbar>
                        <v-card-text>

                          <v-list style="min-height:50px;">
                            <v-list-tile @click.native="">
                              {{recipeName}}
                            </v-list-tile>
                          </v-list>
                        </v-card-text>
                      </v-card>
                    </v-flex>
                  </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
              <br />
              <v-btn color="primary" @click.native="currentStep=currentStep+1">{{stepNextText}}</v-btn>
              <v-btn flat @click.native="currentStep=currentStep-1">{{stepBackText}}</v-btn>
            </v-stepper-content>
            <v-stepper-content step="3">
              <v-card>
                <v-toolbar class = "currentToolbar">
                  <v-toolbar-title>Ingredients</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                  <v-container fluid>
                    <v-layout>
                      <v-flex xs12>
                        <v-layout>
                          <v-flex xs10>
                            <v-text-field  clearable="clearable" label="addIngredient" v-model="ingredient"></v-text-field>

                          </v-flex>
                          <v-flex xs2>
                            <v-btn style="margin:30px" @click="addIngredient(ingredient)" success>Add</v-btn>
                          </v-flex>
                        </v-layout>
                      </v-flex>
                    </v-layout>
                    <v-layout>
                      <v-flex xs-12>
                        <v-card>
                          <v-toolbar color="" dark>
                            <v-toolbar-title>Current Ingredients</v-toolbar-title>
                          </v-toolbar>
                          <v-card-text style="padding: 0">
                            <v-list style="min-height:50px;">
                              <v-list-tile @click="" v-for="(i, index) in ingredients">
                                <v-list-tile-content>
                                  <div style="display:flex;justify-content:space-between; align-items:center;width:100%">
                                    <span style="word-wrap:break-word">{{i}}</span>
                                    <v-icon @click="ingredients.splice(index,1)">close</v-icon>
                                  </div>
                                </v-list-tile-content>
                              </v-list-tile>
                            </v-list>
                          </v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
              <br />
              <v-btn color="primary" @click.native="currentStep=currentStep+1">{{stepNextText}}</v-btn>
              <v-btn flat @click.native="currentStep=currentStep-1">{{stepBackText}}</v-btn>
            </v-stepper-content>
            <v-stepper-content step="4">
              <v-card>
                <v-toolbar class = "currentToolbar">
                  <v-toolbar-title>Directions</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                  <v-container fluid>
                    <v-layout>
                      <v-flex xs10>
                        <v-text-field clearable="clearable" label="addDirection" v-model="direction"></v-text-field>
                          <v-progress-linear v-if="custom" slot="progress" :value="progress" height="7" :color="color"></v-progress-linear>
                      </v-flex>
                      <v-flex xs2>
                        <v-btn style="margin:30px" @click="  addDirection(direction)" success >Add</v-btn>
                      </v-flex>
                    </v-layout>
                    <v-layout>
                      <v-flex xs-12>
                        <v-card>
                          <v-toolbar color="" dark>
                            <v-toolbar-title>Current Directions</v-toolbar-title>
                          </v-toolbar>
                          <v-card-text style="padding: 0">
                            <v-list style="min-height:50px;">
                              <v-list-tile @click="" v-for="(d, index) in directions">
                                <v-list-tile-content>
                                  <div style="display:flex;justify-content:space-between; align-items:center;width:100%">
                                    <span style="word-wrap:break-word">{{d}}</span>
                                    <v-icon @click="directions.splice(index,1)">close</v-icon>
                                  </div>
                                </v-list-tile-content>
                              </v-list-tile>
                            </v-list>
                          </v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
              </v-card>
              <br />
              <v-btn color="success" @click="addFoodToDatabase">{{stepSubmitText}}</v-btn>
              <v-btn flat @click.native="currentStep=currentStep-1">{{stepBackText}}</v-btn>
              <v-alert transition="scale-transition" :dismissible="true" color="success" icon="check_circle" v-model="addedRecipe">
          Successfully added your recipe.
        </v-alert>
            </v-stepper-content>
          </v-stepper>
        </v-container>
      </v-content>
    </v-app>
  </div>
</body>
<script src="/jquery/dist/jquery.js"></script>
<script src="/vue/dist/vue.js"></script>
<script src="/vuetify/dist/vuetify.js"></script>
<script src="/vue-carousel-3d/dist/vue-carousel-3d.min.js"></script>
<script src="/js/recipe_entry.js"></script>


</html>
